<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAY.ON Webhook Decryptor</title>

    <!-- vue -->
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <section class="hero is-link">
      <div class="hero-body">
        <div class="container">
          <p class="title">PAY.ON Webhook Decryptor</p>
          <p class="subtitle"></p>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h1 class="title is-size-5">Instructions</h1>

        <ol>
          <li>
            Go to
            <a href="https://webhook.site" target="_blank">webhook.site</a> and
            create a test webhook URL
          </li>

          <li>Proceed to BIP and input the generated webhook URL and test.</li>

          <li>
            Input the required fields in the form below to decrypt the payload.
          </li>
        </ol>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h1 class="title is-size-5">Form</h1>
        <div id="app">
          <div class="field">
            <label class="label">BIP Secret</label>
            <div class="control">
              <input class="input" type="password" v-model="secret" />
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="label">x-authentication-tag</label>
              <input
                type="password"
                class="input"
                v-model="authenticationTag"
              />
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="label">x-initialization-vector</label>
              <input
                type="password"
                class="input"
                v-model="initializationVector"
              />
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="label">Encrypted Body</label>
              <input type="password" class="input" v-model="encryptedBody" />
            </div>
          </div>

          <div class="field">
            <div class="control">
              <a class="button is-warning" @click="submit">Decrypt</a>
            </div>
          </div>

          <div class="field" v-show="decryptedBody">
            <div class="control">
              <textarea
                cols="30"
                rows="20"
                class="textarea is-family-monospace"
              >
{{decryptedBody}}</textarea
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer"></footer>

    <script type="module" src="index.js"></script>
  </body>
</html>
